%section#news.news
  .wrap
    .row
      .news-col.d-col-8.w-col-8
        .category-bar
          %span.news-view-switcher
            %span.headline{"data-view-style" => "view-headline", :title => "Switch to Headline View"}
            %span.tile{"data-view-style" => "view-tile", :title => "Switch to Tile View"}
            %span.normal{"data-view-style" => "view-normal", :title => "Switch to List View"}
          %h2.category-bar-title.toggle{"data-toggle" => "category-filters"}
            = @subcategory.name
          %ul#category-filters.category-bar-filters
            %li
              - @subcategories.each do |sub|
                = link_to sub.name, sub
        #news-content.news-list#posts
          - @subcategory.posts.each do |post|
            %article#article-170216.news-item
              .news-item-promo
                %figure.news-item-thumb
                  = link_to post, class: 'news-item-thumb-link' do
                    = image_tag post.image
                %header.news-item-header
                  %h3.news-item-title
                    = link_to post.title, post
                  %p.news-item-meta
                    %span.author.vcard
                      = link_to post.user.username, '#', class:'fn profile-link'
                      路
                    %time.date.published
                      - if post.created_at > Time.now.beginning_of_day
                        = "#{time_ago_in_words(post.created_at)} ago"
                      - else
                        = post.created_at.strftime("%b %d, %Y")
                    路
                    %span.hot
                      = link_to post.subcategory.name
                    %span.comments
                      %span with
                      %a.comment-link{:href => "#", :title => ""}
                        = post.impressionist_count
              .news-item-content
                %p
                  - if post.summary.present?
                    = truncate( raw( sanitize(post.summary, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 150, :omission => "...")
                  - else
                    = truncate( raw( sanitize(post.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 140, :omission => "...")

              %p.news-item-meta-mobile
                %span.author.vcard
                  %a.fn.profile-link{:href => "profile/605008-pulasthi_ariyasinghe.html", :rel => "author"} Pulasthi Ariyasinghe
                  路
                %time.date.published{:datetime => "2017-04-22T11:32:01+00:00"} Apr 22, 2017
                路
                %span.hot Hot!
                %span.comments
                  %span with
                  %a.comment-link{:href => "news/call-of-duty-wwii-release-date-screenshots-and-more-details-may-have-leaked.html#comments", :title => "View 9 Comments"}
                    9
