%p#notice= notice

%p
  %b Name:
  = @site.name
%p
  %b Facebook:
  = @site.facebook
%p
  %b Twitter:
  = @site.twitter
%p
  %b Google:
  = @site.google
%p
  %b Ads1:
  = @site.ads1
%p
  %b Ads2:
  = @site.ads2
%p
  %b Ads3:
  = @site.ads3
%p
  %b Ads4:
  = @site.ads4

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
